@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
html {
    height: 100%;
    
}


body {
    
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top:0;
    margin-left:0 auto;
    background-color: hsl(185, 75%, 39%);
    background-image: url("../images/bg-pattern-top.svg")
    , url("../images/bg-pattern-bottom.svg"); 
    
    background-repeat: no-repeat, no-repeat;
    
    background-position: right 52vw bottom 31vh , left 47vw top 51vh;
    background-size: 1100px;
    /* git branch -M main */
}




/* .top-circle{
 position: absolute;
 z-index: 0;
 top: 0px;
 left: 0px;
} */
/* .bottom-circle {
 position: absolute;
 bottom: 0px;
 right: 0px; 
} */

.back-container{
    top: 0;
    left: 0;
    position: absolute;
    border: solid;
    height: 99.18%;
    width: 99.65%;

    /* display: flex;
    justify-content: space-between; */
}
.top-circle {
  
  position: absolute;
  top: -489px;
  left: 40px;
  
  border: solid red;

}
.bottom-circle {
  position: absolute;
  top: -489px;
  /* margin-left: 30px; */
}
.container{
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
    width: 100%;
    position: absolute;
    
   
    
}
.user-card {
    
    /* border: solid; */
    box-sizing: border-box;
    position: relative;
    top: 0px;
    background-color: white;
    color: hsl(229, 23%, 23%);
    border-radius: 16px;
    
}

.card-wallpaper{
   
   border-radius: 16px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.user-info {
    position: relative;

}

.user-avatar {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    margin-top: -7.9rem;
    width: 100%
}

.user-main-info {

    margin-top: 4.3rem;
    text-align: center;
    /* border: solid; */
    width: 100%;
    padding: 0px;
    line-height: 1;

}

.user-firstname,
.user-surname {
    font-weight: 700;

}

.user-age {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.user-city {
    text-align: center;
    font-size: 14px;
    margin-top: 0.7rem;
    color: hsl(0, 0%, 59%);
    border-bottom: 1.3px solid hsl(0, 0%, 59%, 0.3);
    padding-bottom: 1.6rem;
}

.user-activity {
    display: flex;
    padding: 1.5rem 3.4rem;
    justify-content:space-between;
}

.activity-item{
    text-align: center;
}
.data-num{
  font-weight: 700;
  margin-bottom: 0.1rem;
  
}

.data-name {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 12px;
    
}

.user-avatar img {
    border-radius: 50%;
    border: solid 5px;
    border-color: white;
    display: block;


}

@media screen and (max-width: 375px) {
    body {
        background-position: right 45vw bottom 55vh, left 45vw top 48vh;
        background-size: 700px,700px;
    }

    .card-wallpaper {

        width: 331px;
    }

    .user-card {

        width: 331px;
    }

}
/* .user-card-top{
   

} */