@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    /* git branch -M main */
}

/* .top-circle{
 position: absolute;
 z-index: 0;
 top: 0px;
 left: 0px;
} */
/* .bottom-circle {
 position: absolute;
 bottom: 0px;
 right: 0px; 
} */



.user-card {
    
    /* border: solid; */
    box-sizing: border-box;
    width: 350px;
    position: relative;
    top: 0px;
    background-color: white;
    color: hsl(229, 23%, 23%);
    border-radius: 20px;
}

.card-wallpaper{
   
  box-sizing: border-box;
   box-sizing: border-box;

}

.user-info {
    position: relative;

}

.user-avatar {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    margin-top: -8.3rem;
    width: 100%
}

.user-main-info {

    margin-top: 4.8rem;
    text-align: center;
    /* border: solid; */
    width: 100%;
    padding: 0px;
    line-height: 1;

}

.user-firstname,
.user-surname {
    font-weight: 700;

}

.user-age {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.user-city {
    text-align: center;
    font-size: 16px;
    margin-top: 0.7rem;
    color: hsl(0, 0%, 59%);
    border-bottom: 1.3px solid hsl(0, 0%, 59%, 0.3);
    padding-bottom: 1.6rem;
}

.user-activity {
    display: flex;
    padding: 1.7rem 3.4rem;
    justify-content:space-between;
}

.activity-item{
    text-align: center;
}
.data-num{
  font-weight: 700;
  margin-bottom: 0.1rem;
  
}

.data-name {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 12px;
    
}

.user-avatar img {
    border-radius: 50%;
    border: solid 5px;
    border-color: white;
    display: block;


}

/* .user-card-top{
   

} */